@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.text-bold {
    font-weight: 700;
}

.text-light {
    color: #f9faf8;
}

.text-dark {
    color: #3b243b;
}

.header {
    height: 64px;
    background-color: #3b243b;

    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-links a {
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.hero {
    background-color: #3b243b;
    height: 500px;
    padding: 36px 64px;

    display: flex;
    justify-content: center;
    gap: 24px;
}

.hero-information, .hero-image {
    /* border: 2px solid red; */
    margin-top: 36px;
    overflow: clip;
    display: flex;
    flex-flow: column wrap;
}

.hero-information {
    flex: 1 0 100px;
}

.hero button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #CA4E79;
  border: 2px solid #db5684;
  color: #f9faf8;
  font-weight: bold;
}


.hero-image {
    border-radius: 16px;
    box-shadow: 0px 10px 20px -9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 10px 20px -9px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 20px -9px rgba(0,0,0,0.45);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    
    position: relative;
}



.hero-maintext {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 12px;
}

.hero-secondarytext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.info {
    background: #CA4E79;
    color: #f9faf8;
    padding: 36px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-items {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.item {
    padding: 6px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    border-radius: 16px;
    box-shadow: 0px 0px 26px 0px rgba(255,255,255,0.44);
    -webkit-box-shadow: 0px 0px 26px 0px rgba(255,255,255,0.44);
    -moz-box-shadow: 0px 0px 26px 0px rgba(255,255,255,0.44);
}

.quote {
    background: #FFC18E;
    color: #3b243b;
    padding: 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.quote-saying {
    font-size: 36px;
    font-style: italic;
    align-self: flex-end;
}

.quote-author {
    font-size: 20px;
    font-weight: 800;
    justify-content: flex-end;
    text-align: right;
}

.contact {
    background: #CA4E79;
    color: #f9faf8;
    padding: 36px 64px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-box {
    width: 80%;
    height: 60%;
    background: #513252;
    border-radius: 16px;
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.15);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-box .title {
    font-size: 28px;
}

.contact button {
    width: 200px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #db5684;
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', 'sans-serif';
}

.footer {
    background: #3b243b;
    color: #fff;
    height: 32px;
    text-align: center;
    margin-top: auto;
    padding: 1.25em 2.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: #fff;
}